<hr>

**SOAL 2.VISUALISASI DATA**

<div class="alert alert-block alert-info">
    <ul>
        <li>Jawab Pertanyaan yang diberikan dalam bentuk <b>grafik</b></li>
        <li>Buat kesimpulan dari jawaban pertanyaan dalam bentuk markdown tepat <b>dibawah</b> dari cell grafik</li>
    </ul>
</div>


<div class="alert alert-block alert-warning">
    <ul>
        <li>Buatlah visualisasi <b>sesederhana</b> mungkin namun tetap dapat mudah dimengerti dan pesan dari grafik dapat tersampaikan</li>
    </ul>
</div>

<div class="alert alert-block alert-danger">
    <ul>
        <li><b>DILARANG</b> melakukan processing tambahan kedalam data yang dapat merubah distribusi dari data</li>
        <li><b>Jangan menghapus</b>  template code yang telah disediakan</li>
    </ul>
</div>

<hr>

## Import Library & Read Data

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

<div class="alert alert-block alert-success">
    <h3><b>2.1</b> Carilah salah dua atribut yang memiliki korelasi linear, kemudian visualisasikan korelasi kedua atribut tersebut</h3>
</div>

In [3]:
#KODE KALIAN DISINI
plt.show()

**KESIMPULAN KALIAN DISINI**
<hr>

<div class="alert alert-block alert-success">
    <h3><b>2.2</b> Bagaimana penyebaran nilai dari harga rumah</h3>
</div>

In [6]:
#KODE KALIAN DISINI
plt.show()

**KESIMPULAN KALIAN DISINI**
<hr>

<div class="alert alert-block alert-success">
    <h3><b>2.3</b> Visualisasikan korelasi antar atribut</h3>
</div>

**KESIMPULAN KALIAN DISINI**
<hr>

<div class="alert alert-block alert-success">
    <h3><b>2.4</b> Tampilkan perbandingan persentase rumah pada atribut pemanas air, pendingin ruangan, basement, dan kapasitas parkir</h3>
</div>

In [9]:
#KODE KALIAN DISINI
plt.show()

**KESIMPULAN KALIAN DISINI**
<hr>

<div class="alert alert-block alert-success">
    <h3><b>2.5</b> Identifikasi outlier yang terdapat pada dataset menggunakan visualisasi grafik</h3>
</div>

In [10]:
#KODE KALIAN DISINI
plt.show()