<hr>

**SOAL 1.Deep Preprocessing**

<div class="alert alert-block alert-info">
    <ul>
        <li>Lakukan data-preprocessing sesuai arahan yang diberikan</li>
        <li>Dataset adalah dataset titanic dengan target adalah <b>Survived</b></li>
    </ul>
</div>



<div class="alert alert-block alert-danger">
    <ul>
        <li><b>Jangan menghapus</b>  template code yang telah disediakan</li>
    </ul>
</div>

<hr>

## Import Library & Read Data

In [12]:
import pandas as pd
import sklearn

In [13]:
# JANGAN MENGUBAH KODE INI
df = pd.read_csv('titanic.csv')
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         1       1  female  35.0      1      0  53.1000        S
1         0       1    male  54.0      0      0  51.8625        S
2         1       3  female   4.0      1      1  16.7000        S
3         1       1  female  58.0      0      0  26.5500        S
4         1       2    male  34.0      0      0  13.0000        S

<div class="alert alert-block alert-success">
    <h3><b>A.</b> Data Cleaning</h3>
    <li>Hilangkan Null pada data</li>
    <li>Hilangkan nilai duplikat pada data</li>
    <li>Simpan perubahan ke variable <b>df</b></li>
</div>

<div class="alert alert-block alert-success">
    <h3><b>B.</b> Encoding</h3>
    <li>Lakukan one-hot encoding kedalam dataset</li>
    <li>Simpan perubahan ke variable <b>df</b></li>
</div>

In [14]:
#KODE KALIAN DISINI
df
df1 = pd.get_dummies(df[['Sex','Embarked']])
df = df.join(df1)

In [15]:
# JANGAN MENGUBAH KODE INI
df.drop(['Sex','Embarked'],axis=1,inplace=True)

In [16]:
#KODE KALIAN DISINI
df.drop_duplicates(inplace = True)
df.duplicated().sum()
df.dropna(inplace = True)

<div class="alert alert-block alert-success">
    <h3><b>C.</b> Transformation</h3>
    <li>Lakukan standarisasi dan normalisasi</li>
    Simpan perubahan ke variable copy dari <b>df</b>
</div>

In [17]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
# JANGAN MENGUBAH KODE INI
df_norm = df.copy()

ss = StandardScaler()#KODE KALIAN DISINI
Scaled_data = ss.fit_transform(df_norm)#KODE KALIAN DISINI

# JANGAN MENGUBAH KODE INI
df_min_max = df.copy()

norm = MinMaxScaler()#KODE KALIAN DISINI
normalize_data = norm.fit_transform(df_min_max)#KODE KALIAN DISINI

<div class="alert alert-block alert-success">
    <h3><b>D.</b> Data Splitting</h3>
    <li>Split data menjadi train dan test set</li>
    <li>train set mengambil 65% dari keseluruhan data</li>
    <li>Gunakan variable df</li>
</div>

In [18]:
from sklearn.model_selection import train_test_split

X= df.iloc[:,:-1]
y=df.iloc[:,0]

data_split = train_test_split(X, y, test_size=0.35)

<div class="alert alert-block alert-success">
    <h3><b>E.</b> Submission</h3>
    <b>Dilarang keras mengubah semua kode dibawah</b>
</div>

<div class="alert alert-block alert-success">
    <h4><b>E.1</b> Data Cleaning</h4>
    <li>Pastikan tidak ada nilai null dan duplikat didalam data</li>
</div>

In [19]:

from colorama import Fore

null_count = sum(df.isna().sum())
duplicate_count = df.duplicated().sum()


if (null_count == 0 and duplicate_count == 0):
    print(Fore.GREEN + f'LULUS')
    print(f'Jumlah Null     : {null_count}')
    print(f'Jumlah Duplikat : {duplicate_count}')
else:
    print(Fore.RED + f'E OT, TIDAK LULUS')
    print(f'Jumlah Null     : {null_count}')
    print(f'Jumlah Duplikat : {duplicate_count}')

LULUS
Jumlah Null     : 0
Jumlah Duplikat : 0

<div class="alert alert-block alert-success">
    <h4><b>E.2</b> Data Encoding</h4>
    <li>Pastikan encoding yang dilakukan adalah one-hot encoding</li>
</div>

In [20]:
columns_count = df.shape[1]

if (columns_count == 11):
    print(Fore.GREEN + f'LULUS')
    print(f'Jumlah Kolom     : {columns_count}')
else:
    print(Fore.RED + f'E OT, TIDAK LULUS')
    print(f'Jumlah Kolom     : {columns_count}')

LULUS
Jumlah Kolom     : 11

<div class="alert alert-block alert-success">
    <h4><b>E.3</b> Data Transformation</h4>
    <li>Pastikan distribusi data sudah sesuai dengan jenis transformasi yang digunakan</li>
</div>

In [21]:
import numpy as np

std_scaled_data = np.std(Scaled_data)
min_norm_data = np.min(normalize_data)
max_norm_data = np.max(normalize_data)

if (std_scaled_data == 1 and min_norm_data == 0 and max_norm_data == 1):
    print(Fore.GREEN + f'LULUS')
    print(f'Standar Deviasi Data Standarisasi : {std_scaled_data}')
    print(f'Nilai Terkecil Data Normalisasi   : {min_norm_data}')
    print(f'Nilai Terbesar Data Normalisasi   : {max_norm_data}')
else:
    print(Fore.RED + f'E OT, TIDAK LULUS')
    print(f'Standar Deviasi Data Standarisasi : {std_scaled_data}')
    print(f'Nilai Terkecil Data Normalisasi   : {min_norm_data}')
    print(f'Nilai Terbesar Data Normalisasi   : {max_norm_data}')

LULUS
Standar Deviasi Data Standarisasi : 1.0
Nilai Terkecil Data Normalisasi   : 0.0
Nilai Terbesar Data Normalisasi   : 1.0

<div class="alert alert-block alert-success">
    <h4><b>E.4</b> Data Splitting</h4>
</div>

In [22]:
train_row_count = data_split[0].shape[0]
test_row_count  = data_split[1].shape[0]

if (train_row_count == 117 and test_row_count == 64):
    print(Fore.GREEN + f'LULUS')
    print(f'Jumlah baris train set : {train_row_count}')
    print(f'Jumlah baris test set  : {test_row_count}')
else:
    print(Fore.RED + f'E OT, TIDAK LULUS')
    print(f'Jumlah baris train set : {train_row_count}')
    print(f'Jumlah baris test set  : {test_row_count}')

LULUS
Jumlah baris train set : 117
Jumlah baris test set  : 64